page,
view,
text,
image,
button,
textarea,
scroll-view,
input,
swiper,
swiper-item,
navigator {
  box-sizing: border-box;
}

page,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5715;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
}

.h5-input {
  height: auto;
}

.weui-input {
  display: inline-block;
}

taro-textarea-core .taro-textarea {
  display: block;
  height: 100%;
  resize: none;
  background-color: transparent;
}
.h5-textarea {
  width: auto;
}
.taro_router taro-textarea-core {
  width: auto;
}
