page,
view,
text,
image,
button,
textarea,
scroll-view,
input,
swiper,
swiper-item,
navigator {
  box-sizing: border-box;
}
.h5-input {
  height: auto;
}

.weui-input {
  display: inline-block;
}

taro-textarea-core .taro-textarea {
  display: block;
  height: 100%;
  resize: none;
  background-color: transparent;
}
.h5-textarea {
  width: auto;
}
.taro_router taro-textarea-core {
  width: auto;
}